<div class="jumbotron bg-dark m-0">
      <h1 class="display-4 text-center">Hello, Anonymous!</h1>
      <p class="lead text-center pt-4">Welcome to my page hacker! In this page we will tackle about hacking in different languages </p>
      <hr class="my-0">
      <p class="text-center pb-4" id="text-1"=>For educational purposes only</p>
    <div class="text-center">
      <a class="btn btn-lg align-center text-dark" href="#" role="button">Sign Up</a>
      <a class="separate text-light"> or </a>
      <a class="btn btn-lg align-center text-dark" href="#" role="button">Log in</a>
    </div>
  </div>
</div>
 
<div id="page-content">

</div>

