<nav class="navbar navbar-expand-lg navbar-dark">
    <%= link_to "SUP ", root_path, class: "navbar-brand m-0", id: "logo" %>
    <span><%= link_to "HACKER", root_path, class: "navbar-brand bg-warning text-dark p-1 m-1 rounded", id: "logo" %></span>
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
       </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Data", articles_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose Language
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Ruby</a>
            <a class="dropdown-item" href="#">Python</a>
            <a class="dropdown-item" href="#">C++ </a>
            <a class="dropdown-item" href="#">PhP</a>
            <a class="dropdown-item" href="#">C</a>
            <a class="dropdown-item" href="#">SQL</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Terms and Condition</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn my-2 my-sm-0 text-light" type="submit">Search</button>
      </form>
    </div>
  </nav>